<div class="container">
  <div class="row">
    <div class="col-7 mx-auto w-100 mt-5">
      <p>
        Snowborersはスノーボード用品を販売するオンラインショップです。<br>
        スノーボード用品の新調や今シーズンからスノーボードを始めたいと<br>
        考えているお客様により良い物を選んで頂けるよう、<br>
        様々なバリエーションをご用意しております。<br>
        ぜひご注文ください。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-8 mx-auto mt-3">
      <%= image_tag('snowboard.jpg', size: "600x300") %>
    </div>
  </div>
</div>
