<div class="container">
  <div class="row">
    <div class="col-md-2">
      <table class="border border-dark">
        <tr class="border-bottom border-dark">
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>
          <% @genres.each do |genre| %>
            <%= link_to genre.genre_name, items_path(genre_id: genre.id) %><br>
          <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-md-7 row w-100 mx-auto mt-5">
      <p>
        ようこそ、Snowboardersへ！<br>
        このサイトは、スノーボード用品販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要となります。
      </p>
    </div>
  </div>

  <h4>
    <span>新着商品</span>
  </h4>

  <div class="row">
    <% @items.each do |item| %>
    <div class="col-3 mt-3">
      <%= image_tag item.get_image(250,250) %><br>
      <%= link_to item.name, item_path(item.id) %>
      ¥<%= item.price.to_s(:delimited) %>
    </div>
    <% end %>
  </div>
</div>