<h4 class="mt-3 ml-3">
  <span class="bg-light p-2">会員一覧</span>
</h4>

<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table">
        <thead>
          <tr>
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
          </tr>
        </thead>
        <tbody class="border-bottom">
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%=link_to customer.full_name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td class="text-success">
              <% if customer.is_deleted %>
                <b class="text-secondary">退会</b>
              <% else %>
                <b>有効</b>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>