<!--<li class="page-item">-->
<!--  <%#= link_to_unless current_page.last?, raw(t 'views.pagination.last'), url, remote: remote, class: 'page-link' %>-->
<!--</li>-->

<button class="last">
  <%= link_to_unless current_page.last?, t('views.pagination.last').html_safe, url, remote: remote %>
</button>